.p-user__section {
  background: linear-gradient(
    180deg,
    $color-theme-red 0%,
    $color-theme-red 45px,
    $color-section-beige 45px,
    $color-section-beige 100%
  );
}

.p-user__section-header {
  margin-bottom: 10px;
  display: flex;
  color: $color-font-white;
  font-size: 18px;
}

.p-user__section-content {
  margin: 20px 0 0;
}

.p-user__section-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 10px;
}

.p-user__icon--user {
  margin-right: 10px;
}

.p-user__info-list {
  height: 28px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.p-user__info-item {
  width: 80px;
}

.p-user__info-data {
  width: calc(100% - 80px);
  font-size: 18px;
  &--email {
    font-size: 12px;
  }
}

.p-user__message {
  margin-bottom: 20px;
  padding: 5px 15px;
  height: 35px;
  width: fit-content;
  background-color: $color-accent-blue;
  font-size: 18px;
  & a {
    line-height: 35px;
  }

  &--no-login {
    background-color: $color-icon-gray;
    cursor: default;
  }
}
.p-user__message-notice {
  margin-top: 5px;
}

.p-user__message-link {
  text-decoration: none;
}

.p-user__edit a {
  text-decoration: none;
  color: $color-accent-blue;
}

.p-user__song {
  margin-bottom: 30px;
}

.p-user__song-menu a {
  text-decoration: none;
  color: $color-accent-blue;
}

.p-user__icon-heart {
  color: $color-theme-red;
}

.p-user__signup_link {
  color: $color-theme-red;
}

.p-user__song-header {
  display: flex;
  align-items: flex-end;
}

.p-user__song-editor {
  margin-left: 10px;
  padding-bottom: 5px;
  & a {
    font-size: 12px;
    color: $color-font-black;
    text-decoration: none;
    text-decoration-color: $color-font-black;
  }
}
