.p-message-list__wrapper
  .p-message-list__top
    ="- メッセージ一覧 -"
  - if @users.present?
    - @users.each do |user|
      =link_to messages_path(to_user_id: user.id) do
        .p-message-list__content
          .p-message-list__item.p-message-list__name
            =user.name
          .p-message-list__item.p-message-list__message
            = user.latest_message
  -else
    .p-message-list__no-message メッセージはありません
  - breadcrumb :message_list
  = render "application/breadcrumbs", layout: "footer"
