/.Dockerfile.development
/.docker-compose_dev.yml
/.docker-compose.mysql.yml

log/development.log
log/test.log
tmp/capybara

nginx
spec
.byebug_history
.DS_Store
!public/robots.txt
.README.md
public/images/GrassChords_Env.png

config/master.key
