// make icon-jam
.u-position__icon-docking--jam {
  display: flex;
  align-items: center;
  position: relative;
}

.u-position__icon-docked--strawberry {
  position: absolute;
  top: 7px;
  left: 5px;
}

.u-position__list {
  margin-top: -80px;
  padding-top: 80px;
}
