.content
  =form_with url: tuning_all_form_index_path, method: :post, local: true do |f|
    .content__instrument-name
      =f.text_field :instrument_name, id: "search_instrument_name", placeholder: "楽器名称"
      =f.text_field :instrument_id, id: "selected_instrument_id", class: "form_blind"
    .content__search-result
  
    .content__strings
      - 5.times do
        =f.fields_for :tunings do |tuning_f|
          .strings__string
            =tuning_f.hidden_field :string_num, value: 5
            =tuning_f.text_field :note_name, placeholder: "string"
    .content__name
      名称
      =f.text_field :name
    .content__btn
      =f.submit "登録"