
%aside.l-contents__top.l-contents__top--low-volume.l-contents__top--sub
%article.c-user__position-article
  %section.c-section__sentence-box
    .c-user__logo
      %h2 Login
      %a - ログイン -
    .c-user__form
      =form_with local: true do |f|
        .c-form__area
          =f.email_field :email, placeholder: "email", class:"c-form__textbox c-user__textbox"
          =f.password_field :password, placeholder: "password", class:"c-form__textbox"
        .c-form__area
          =f.submit "ログイン", class:"c-form__btn c-form__btn--login"
    %figure
      =image_tag "/images/fiddle.png", class: "c-section__image-fiddle"

    
      

-# .wrapper__contents
-#   %h2 Log in
-#   = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#     .field
-#       = f.label :email
-#       %br/
-#       = f.email_field :email, autofocus: true, autocomplete: "email"
-#     .field
-#       = f.label :password
-#       %br/
-#       = f.password_field :password, autocomplete: "current-password"
-#     - if devise_mapping.rememberable?
-#       .field
-#         = f.check_box :remember_me
-#         = f.label :remember_me
-#     .actions
-#       = f.submit "Log in"
-#   = render "users/shared/links"
