// header menu
.p-navi__search-btn {
  color: white;
  font-size: 27px;
}

.p-navi__opn-box {
  display: flex;
  align-items: center;
}
.p-navi__opn-btn {
  height: 5px;
  width: 27px;
  border-radius: 2px;
  background-color: white;
  position: relative;
}

.p-navi__opn-btn::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-color: white;
  position: absolute;
  top: -9px;
}

.p-navi__opn-btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-color: white;
  position: absolute;
  top: 9px;
}
