.p-navi__wrapper {
  // layout
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  // background image
  background-image: url("/images/menu.jpeg");
  background-size: cover;
  background-position: 38% 64%;

  z-index: 30;
}

.p-navi__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $color-font-white;
  z-index: 70;
}
.p-navi__content {
  width: 50%;
  margin: 7px 0;
}

.p-navi__content__parent {
  border-bottom: $color-accent-gold 2px solid;
  padding: 0 5px 0 10px;

  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.p-navi__string__parent {
  white-space: nowrap;
  & a {
    text-decoration: none;
    color: $color-font-white;
  }
}

.p-navi__content__child {
  margin-top: 12px;
  text-indent: 2em;
  white-space: nowrap;
  & a {
    text-decoration: none;
    color: $color-font-white;
  }
}

.p-navi__icon-box {
  margin-right: 5px;
  width: 20px;
}

.p-navi__link-btn--parent {
  display: flex;
}

.p-navi__menu-pulldown {
  display: none;
}

@media screen and (min-width: 481px) {
  .p-navi__content {
    max-width: 240px;
  }
}

@media screen and (min-width: 961px) {
  .p-navi__menu {
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .p-navi__content {
    width: 20%;
    margin: 20px;
    max-width: 210px;
  }
}
