.p-search-result__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  // background image
  background-image: url("/images/top.jpeg");
  // background-size: 726px 947px;
  background-size: cover;

  background-position: 20% 60%;
}

.p-search-result__article {
  margin: 65px 0 20px;
  height: 100vh;
  position: relative;
  z-index: 2px;
}

.p-search-result__section {
  padding: 5%;
}

.p-search-result__sort-btns {
  margin: 14px 0;
  height: 40px;
  display: flex;
  align-items: center;
}

.p-search-result__sort-btn {
  width: calc(50% + 24px / 2);
  margin-right: 24px;
  padding: 3px;
  background-color: $color-btn-normal;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #444444;

  text-align: center;
  font-size: 12px;
}

.p-search-result__results {
  // height => header: 65px, search box: 126px, article margin: about 32px(not fixed)
  // height: calc(85vh - 65px - 126px - 32px);
}

.p-search-result__result {
  width: 90%;

  margin: 0 5%;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 10px 15px;

  display: inline-block;
  text-decoration: none;
  color: $color-font-black;
  background-color: $color-section-beige;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.p-search-result__counter {
  margin: 10px 0;
  padding: 0 20px;
}
@media screen and (min-width: 961px) {
  .p-search-result__wrapper {
    background-size: cover;
  }
}
