.p-top {
  // layout
  height: 470px;
  width: 100%;

  // inner layout
  display: flex;

  // 特設ページなしのときはコメントアウト
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;

  // 特設ページ有りのときはコメントアウト
  align-items: flex-end;

  // background image
  background-image: url("/images/top.jpeg");
  background-size: 664px 880px;
  background-position: 20% 64%;
}

@media screen and (min-width: 481px) {
  .p-top {
    background-image: url("/images/top10.jpeg");
    background-size: cover;
    background-position: 40% 40%;
  }
}

@media screen and (min-width: 961px) {
  .p-top {
    // same scss as 480px width
  }
  // .p-top__section {
  //   display: flex;
  //   align-items: center;
  // }
  .heading {
    // text-align: right;
    // width: 100px;
    // margin-right: 30px;
  }
  .p-top__how-to-user {
    // display: flex;
  }
}
