%aside.p-top
  %section.c-search.c-window__clear
    =render "/application/search"
%article
  %section.c-section__sentence-box.u-color__section-red
    %h2.heading Concept
    .sentence
      %p Bluegrassのジャムに参加してみたいけど、
      %ul
        %li コードが分からない…
        %li どの曲を練習すればいいの？
      %p というあなたのためのサービスです。
  %section.c-section__sentence-box
    %h2.heading How to Use
    .sentence
      %a
        まずは気になる曲名を検索
        %br
        初心者向け曲をざっと知りたい方は、
        %br
        Beginner→検索の順にクリック
    %figure
      =image_tag "/images/guitar.png", class: "c-section__image-guitar"