%p#notice= notice
%aside.p-top
  %section.c-search.c-window__clear
    =render "/components/search"
%article
  %section.c-section__sentence-box.u-section__red
    %h2.heading Concept
    .sentence
      %p Bluegrassのジャムに参加してみたいけど、
      %ul
        %li コードが分からない…
        %li どの曲を練習すればいいの？
      %p というあなたのためのサービスです。
  %section.c-section__sentence-box
    %h2.heading How to Use
    .sentence
      %a
        まずは気になる曲名を検索
        %br
        初心者向け曲をざっと知りたい方は、
        %br
        Beginner→検索の順にクリック
    %figure
      =image_tag "/assets/guitar.png", class: "c-section__image-guitar"

          


-# .contents__top
-#   =image_tag src="tops/top05.jpeg", class: "contents__top--image"
  -# .contents__message
  -#   Jam with us??
    -# = form_with url: search_songs_path, class: "content__search-window", method: :get, local: true do |f|
    -#   =f.text_field :keyword
    -#   =f.submit "検索"
  -# .contents__whats-new
  -#   .whats-new__title What's new?
  -#   -if (@chords.length > 0)
  -#     - @chords.each do |chord|
  -#       .whats-new__content
  -#         =link_to chord_path(chord), class: "whats-new__text" do
  -#           .chord_title
  -#             =chord.song.title
  -#             ="/"
  -#             =chord.version
  -#           .chord_made
  -#             ="by"
  -#             =chord.user.name+ "(created: "+ (l chord.created_at, format: :short)+")"

  -#           .chord_date
              
  -#           .chord_guide
  -#             =">>さっそく見る"

