%aside.p-top
  %section.c-search.c-window__clear
    .c-search__title コード譜を探す
    =form_with  url: search_songs_path, method: :get, local: true do |f|
      =render "/application/search", f: f
%article
  %section.c-section__sentence-box.p-top__section.u-color__section-red
    %h2.heading Concept
    .sentence
      %p Bluegrassのジャムに参加してみたいけど、
      %ul
        %li コードが分からない…
        %li どの曲を練習すればいいの？
      %p というあなたのためのサービスです。
      .u-space__bottom-10px
      %p=link_to "GrassChordsで描くビジョン", informations_vision_path
  %section.c-section__sentence-box.p-top__section
    %h2.heading How to Use
    .sentence
      %p
        まずは気になる曲名を検索
      %p.p-top__how-to-user
        %p 初心者向け曲をざっと知りたい方は、
        %p Beginner→検索の順にクリック
    %figure
      =image_tag "/images/guitar.png", class: "c-section__image-guitar"
