%h1 New Chord
.content
  =form_with model: @chord, local: true do |f|
    .contest__song-name
      =f.text_field :song_name, id: "search_song_name",class: "for_search-dont_send_this_data_to_action"
      =f.text_field :song_id, id: "selected_song_id"
    .content__search-result
    .content__song-help
      =link_to "曲が存在しない場合は新しく登録してください", new_song_path, target: :_blank
    .content__version-name
      %h2 バージョン名
      =f.text_field :version
    .chord_display
      -12.times do |i|
        .chord_display__row{id: "row_#{i}"}
          -8.times do |j|
            .chord_display__unit{id: "unit_#{i*8+j}"}
              .unit--beat @
              .unit--leftbar {
              .unit--note B
              .unit--half_note G
              .unit--modifier m
              .unit--rightbar }
            =f.fields_for :chordunits do |unit_f|
              =unit_f.hidden_field :address, value: i*8+j 
              =unit_f.text_field :text
              =unit_f.text_field :leftbar
              =unit_f.text_field :rightbar
              =unit_f.text_field :beat
  
    .content__chord-btns
      %input{type: "button", value: "G", class: "chord-btns--command"}
      %input{type: "button", value: "A", class: "chord-btns--command"}
      %input{type: "button", value: "B", class: "chord-btns--command"}
      %input{type: "button", value: "C", class: "chord-btns--command"}
      %input{type: "button", value: "D", class: "chord-btns--command"}
      %input{type: "button", value: "E", class: "chord-btns--command"}
      %input{type: "button", value: "F", class: "chord-btns--command"}
      %input{type: "button", value: "#", class: "chord-btns--command"}
      %input{type: "button", value: "b", class: "chord-btns--command"}
      %input{type: "button", value: "m", class: "chord-btns--command"}
      %input{type: "button", value: "繰返し始点", class: "chord-btns--command"}
      %input{type: "button", value: "繰返し終点", class: "chord-btns--command"}
      %input{type: "button", value: "小節区切り", class: "chord-btns--command"}
      %input{type: "button", value: "2/4拍子", class: "chord-btns--command"}
      %input{type: "button", value: "4/4拍子", class: "chord-btns--command"}
      %input{type: "button", value: "3/4拍子", class: "chord-btns--command"}
      %input{type: "button", value: "削除", class: "chord-btns--command"}
      %input{type: "button", value: "繰返し", class: "chord-btns--command"}
      
    .content__option
      オプション
      .option__artist-name
        =f.collection_select :artist_id, Artist.all, :id, :name, include_blank: false
      .option__albumname
        =f.collection_select :album_id, Album.all, :id, :name, include_blank: false
    .content__registration
      =f.submit "登録"