%aside.l-contents__top
  %section.l-contents__section.c-window__clear.p-chord__section
    .p-chord__title
      %h2
        =@chord.song.title
      .p-chord__key key of G
    .p-chord__review
      .c-review
        .c-review__btn
          .c-review__icon
            %i.fas.fa-lightbulb.c-review__icon-practice
          .c-review__amount
            10
          .c-review__text
            練習してる？
        .c-review__btn
          .c-review__icon
            %i.fas.fa-heart
          .c-review__amount
            10
          .c-review__text
            信頼できる？
    .p-chord__info
      %p.p-chord__text-version
        =@chord.version + " version"
      %p.p-chord__text-writer
        ="by "+ @chord.user.name
%article.l-contents__main
  .p-chord__pdf-btn
    =link_to "PDF Download", url:"#"
  %section.p-chord__wrapper
    .p-chord__key-change
      =render "/application/key-change"

    .p-song__score
      - @chord.chordunits.each_with_index do |unit, i|
        .c-chordunit.c-chordunit--large{id: "unit_0-#{i}"}
          .c-chordunit__beat.c-chordunit__beat--large
            =@chord.chordunits[i].beat
          .c-chordunit__leftbar.c-chordunit__leftbar--large
            =@chord.chordunits[i].leftbar
          .c-chordunit__note
            .c-chordunit__note-name.c-chordunit__note-name--large
            .c-chordunit__half-note.c-chordunit__half-note--large
            .c-chordunit__modifier.c-chordunit__modifier--large
          .c-chordunit__rightbar.c-chordunit__rightbar--large
            =@chord.chordunits[i].rightbar
          .c-chordunit__text.u-display__hidden{value: "#{@chord.chordunits[i].text}"}
            =@chord.chordunits[i].text
    .p-chord__manage-score
      =link_to "Edit", edit_chord_path
      %a
        |
      =link_to "Delete", chord_path, method: :delete
  .p-chord__return
    =link_to "コード譜一覧に戻る", song_path(@chord.song)
