.chord-top
  %h1
    =@chord.song.title
  %h2
    =@chord.version
.like-btn
  =link_to "Reliable", likes_path, method: :post
.practice-btn
  .practice-btn__display 練習してるボタン
  =form_with url: practices_path, method: :post, local:true do |f|
    =f.text_field :song_id, value: @chord.song_id, class: "form_blind"
    =f.select :practice_key, [["なんでも","なんでも"],["G","G"],["A","A"],["B","B"],["C","C"],["D","D"],["E","E"],["F","F"],["Em","Em"],["Dm","Dm"],["Am","Am"],["Gm","Gm"]]
    =f.submit "OK"
.chord_display
  -12.times do |i|
    .chord_display__row{id: "row_#{i}"}
      -8.times do |j|
        .chord_display__unit{id: "unit_#{i*8+j}"}
          .unit--beat
          .unit--leftbar
          .unit--note
          .unit--half_note
          .unit--modifier
          .unit--rightbar
        
    

  
.chord-menu
  .chord-menu__key
    .key__key-display
      .key__key-display--now
        key of G
      .key__key-display--relative-key
        移動ド
    .chord-menu__key--palettes
      .palettes__section
        .palettes__palette.palettes__palette--one
          移動ド
      .palettes__section
        .palettes__palette.palettes__palette--four
          G
        .palettes__palette.palettes__palette--four
          A
        .palettes__palette.palettes__palette--four
          B
        .palettes__palette.palettes__palette--four
          C
      .palettes__section
        .palettes__palette.palettes__palette--four
          D
        .palettes__palette.palettes__palette--four
          E
        .palettes__palette.palettes__palette--four
          F
      .palettes__section
        .palettes__palette.palettes__palette--three
          m
        .palettes__palette.palettes__palette--three
          \#
        .palettes__palette.palettes__palette--three
          b
      .palettes__section
        .palettes__palette.palettes__palette--one
          閉じる

  .chord-menu__print
    印刷
  .chord-display
    .chord-display--chord-score
      
    .chord-display--text