.u-js__attribute-color {
  background-color: $color-theme-red;
  color: $color-font-white;

  & path {
    fill: $color-font-white;
  }
  & polygon {
    fill: $color-font-white;
  }
}

.u-js__sort-color {
  background-color: $color-accent-blue;
  color: $color-font-white;
}
