// make icon-jam
.u-position__icon-docking--jam {
  display: flex;
  align-items: center;
  position: relative;
}

.p-song__icon-blank {
  position: relative;
  height: 20px;
  width: 20px;
}

.u-position__icon-docked--strawberry {
  position: absolute;
  top: 7px;
  left: 5px;
}

// adjust position rightest icon
.u-position__icon--margin-right {
  margin-right: 0px;
}
