/*スクロールバー全体*/
.u-scroll__design {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /*スクロールバーの軌道*/
  // &::-webkit-scrollbar-track {
  //   border-radius: 10px;
  //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  // }

  /*スクロールバーの動く部分*/
  &::-webkit-scrollbar-thumb {
    background-color: $color-dark-brown;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
}
