.content
  .content__search-result
    = form_with url: search_songs_path, method: :get, local: true do |f|
      .seatch-result__search-window
        =f.text_field :keyword
        =f.submit "検索"
      .search-result__search-option
        =f.check_box :jam, checkd_value: "1", unchecked_value: "0"
        ジャムセッション向け曲
        =f.check_box :standard, checkd_value: "1", unchecked_value: "0"
        スタンダード曲
        =f.check_box :beginner, checkd_value: "1", unchecked_value: "0"
        初心者向け
    =link_to "詳細検索", search_page_songs_path
    - @songs.each do |song|
      .search-result__song-info
        =song.title
        -# =song.jam
        =song.standard
        -# =song.beginner
      .search-result__first-chord
        -# songに従属している複数のchordデータをid降順に並べ替え→その一番最初のデータを取得→その中でもキー：textを表示
        -if (song.chords.length > 0)
          =song.chords.order(id: "DESC").first[:text]
        -else
          コードが登録されていません
        
