.l-contents__top {
  width: 100%;

  // inner layout
  display: flex;
  align-items: flex-end;

  //background image
  background-image: url("/images/top.jpeg");
  background-size: 664px 880px;
  background-position: 36% 70%;
}

.l-contents__section {
  margin-top: 100px;
}

.l-contents__top--low-volume {
  height: 235px;
  background-position: 36% 65%;
}

.l-contents__top--sub {
  width: 100%;

  // inner layout
  display: flex;
  align-items: flex-end;

  //background image
  background-image: url("/images/top_sub.jpeg");
  background-size: 375px 280px;
  background-position: 10% 0%;
  filter: sepia(35%);
}
