.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 65px;
  width: 100vw;
  padding: 10px;
  position: fixed;

  z-index: 60;
}

.l-header__logo {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.l-header__menu {
  display: flex;
}

// header menu
.l-header__search-btn {
  color: white;
  font-size: 27px;
}

.l-header__opn-box {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  span {
    background-color: $color-font-white;
    height: 5px;
    width: 29px;
    border-radius: 2px;
  }
}

// notice
.l-header__notice,
.l-header__alert,
.l-error,
.l-error__js {
  // layout
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0px;

  // design
  background-color: $color-theme-red;
  color: $color-font-white;
  text-indent: 10px;

  animation: fadeout_css 4s forwards;
  animation-delay: 4s;
}

.l-error__show {
  animation: fadeout_css 4s forwards;
  animation-delay: 4s;
}

@keyframes fadeout_css {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
