.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 65px;
  width: 100vw;
  padding: 10px;
  position: fixed;

  z-index: 60;
}

.l-header__logo {
  color: white;
}

.l-header__menu {
  display: flex;
}

// header menu
.l-header__search-btn {
  color: white;
  font-size: 27px;
}

.l-header__opn-box {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  span {
    background-color: $color-font-white;
    height: 5px;
    width: 29px;
    border-radius: 2px;
  }
}
