.contents__top--image {
  margin: 90px 0 -90px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  filter: sepia(50%);
}
.contetns__message {
}
.have-child {
  padding-left: 20px;
}
.contents__menu {
}

// showビュー

.chord-display {
  &--text {
    display: none;
  }
}

.chord-table {
  width: 100%;
}

.position-adjust {
  width: 10px;
}

// コード表示
.chord_display {
  width: 80%;
  margin: 0 auto;
}
.chord_display__row {
  display: flex;
  justify-content: space-between;
}
.chord_display__unit {
  width: 25%;
  height: 100px;
  border-bottom: lightgray 1px solid;
  display: flex;
  justify-content: center;
}

.unit {
  &--beat {
    font-family: "score-base";
    font-size: 96px;
    position: relative;
    bottom: 10px;
  }
  &--leftbar {
    font-family: "score-base";
    font-size: 108px;
    position: relative;
    left: 0px;
    bottom: 15px;
  }
  &__note {
    position: relative;
    left: -20px;
    vertical-align: top;
    &--note_name {
      font-family: sans-serif;
      font-size: 96px;
    }
    &--half_note {
      height: 50px;
      font-family: "score-base";
      font-size: 108px;
      position: absolute;
      top: -60px;
      right: -20px;
    }
    &--modifier {
      font-family: sans-serif;
      font-size: 48px;
      position: absolute;
      bottom: 10px;
      left: 65px;
    }
  }

  &--rightbar {
    font-family: "score-base";
    font-size: 108px;
    position: relative;
    right: 20px;
    bottom: 15px;
  }
}

// 省略表記時
.small {
  font-size: 48px;
  &--beat {
    position: relative;
    top: 0;
    left: 0;
  }
  &--leftbar {
    font-size: 48px;
    position: relative;
    top: 0;
    left: 0;
  }
  &--note_name {
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--note_half {
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--modifier {
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--rightbar {
    font-size: 48px;
    position: relative;
    top: 0;
    left: 0;
  }
}

.unit--text {
  display: none;
}

.cursor {
  background-color: lightgoldenrodyellow;
  animation: cursor 1s linear infinite;
}

@keyframes cursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.content__chord-btns {
  width: 100vw;
  height: 140px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  background-color: skyblue;
  z-index: 1;
  padding: 10px 30px;
}

.chord-btns {
  &__row {
    color: lightgray;
  }
  &__text_window {
    background-color: white;
    height: 1em;
    width: 50%;
  }
  &__close {
    cursor: pointer;
  }
}

.content__editer-btn {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: lightseagreen;
  position: fixed;
  bottom: 80px;
  right: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
