.contents__top--image {
  height: 600px;
  width: 100%;
  object-fit: cover;
  filter: sepia(50%);
}
.contetns__message {
}
.have-child {
  padding-left: 20px;
}
.contents__menu {
}

// showビュー

.chord-display {
  &--text {
    display: none;
  }
}
