// index

.contetns__message {
}
.have-child {
  padding-left: 20px;
}
.contents__menu {
}

.contents__whats-new {
  overflow: scroll;
  width: calc(100% - 80px);
  height: 160px;
  background-color: rgba(216, 242, 235, 0.6);
  padding: 20px 20px;
  margin: 0 40px;
  position: absolute;
  bottom: 30px;
  z-index: 40;
  border-radius: 10px;
}

.whats-new__title {
  color: #f2594b;
  font-size: 18px;
}

.whats-new__content {
  width: 100%;
  padding: 5px;
  margin: 10px;
  letter-spacing: 1px;
  line-height: 20px;
  text-decoration: none;
  opacity: 1;
}

.whats-new__text {
  text-decoration: none;
  color: #1b4859;
  width: 100%;
  &:hover {
    color: #3285a3;
  }
}
.text--chord_text {
}

.chord {
  &_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
  }
  &_made {
    font-size: 1em;
  }
  &_date {
    font-size: 1em;
  }
  &_guide {
    border-bottom: dashed 1px #f2594b;
    width: 110px;
    padding-bottom: 0;
    font-size: 1.2em;
    -webkit-text-size-adjust: none;
  }
}
// showビュー

.chord-display {
  &--text {
    display: none;
  }
}

.chord-table {
  width: 100%;
}

.position-adjust {
  width: 10px;
}

// コード表示
.chord_display {
  width: 80%;
  margin: 0 auto;
}
.chord_display__row {
  display: flex;
  justify-content: space-between;
}

// 省略表記時
.small {
  font-size: 48px;
  &--beat {
    position: relative;
    top: 0;
    left: 0;
  }
  &--leftbar {
    font-size: 48px;
    position: relative;
    top: 0;
    left: 0;
  }
  &--note_name {
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--half_note {
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--modifier {
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--rightbar {
    font-size: 48px;
    position: relative;
    top: 0;
    left: 0;
  }
}

.cursor {
  background-color: lightgoldenrodyellow;
  animation: cursor 1s linear infinite;
}

@keyframes cursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
