@font-face {
  font-family: "score-base";
  src: font-url("Musisync_custom.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "score-repeat";
  src: font-url("Dvmarticulations-Yqpy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "score-greek";
  src: font-url("ancient-geek.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "title";
  src: font-url("title2_GuitarAcoustic-njzR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// フォント調整
.font_alphabet {
  font-family: sans-serif;
  font-size: 112px;
}

.font_base {
  font-family: "score-base";
  font-size: 160px;
}

.font_repeat {
  font-family: "score-repeat";
}

.font_greek {
  font-family: "score-greek";
  display: inline-block;
  margin-right: 1px;
}

// 小節区切りのサイズ調整
.font_bar {
}

.font_wbar_begin {
}

.font_wbar_end {
}

.font_beat {
}

.font_minor {
  font-family: sans-serif;
  font-size: 70px;
}

// キー選択パレット
.font_base-key {
  font-family: "score-base";
  font-size: 26px;
  padding-bottom: 12px;
  padding-left: 0.05em;
}

.font_minor-key {
  font-family: sans-serif;
  font-size: 13px;
}
