
.content
  =form_with url: tuning_alls_path, method: :post, local: true do |f|
    .content__instrument-name
      =f.text_field :instrument_name, id: "search_instrument_name", placeholder: "楽器名称"
      =f.text_field :instrument_id, id: "selected_instrument_id", class: "form_blind"
    .content__search-result
  
    .content__strings
      - 8.times do |i|
        =f.fields_for :tunings_attributes do |tuning_array|
          =tuning_array.fields_for name="#{i}" do |tuning_hash|
            .strings__string
              =tuning_hash.hidden_field :string_num, value: i+1
              =tuning_hash.text_field :note_name, placeholder: "string#{i+1}"
    .content__name
      名称
      =f.text_field :name
    .content__btn
      =f.submit "登録"