.c-chordunit__wrapper {
  border-bottom: $color-icon-gray 1px solid;

  &--large {
    width: 25%;
  }
  &--small {
    // padding: 0 5px;
    width: 12.5%;
  }
}

.c-chordunit__part {
  display: flex;
  margin-bottom: -3px;
}
.c-chordunit__repeat {
  // 値が代入された時にクラス名.c-chord-edit__js-repeatを追加して装飾
}

.c-chordunit__indicator {
}

.c-chordunit {
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
  &--large {
    margin-bottom: 6px;
  }
  &--small {
  }
}

.c-chordunit__part {
  &--small {
    font-size: 10px;
  }
}
.c-chordunit__repeat {
  &--small {
    font-size: 10px;
    margin-bottom: -5px;
  }
}
.c-chordunit__indicator {
  &--small {
    font-size: 10px;
    margin-bottom: -5px;
  }
}

.c-chordunit__beat {
  font-family: "score-base";
  text-align: right;
  &--large {
    font-size: 48px;
    position: absolute;
    left: -15px;
  }

  &--small {
    font-size: 18px;
    position: absolute;
    left: -6px;
  }
}
.c-chordunit__leftbar {
  font-family: "score-base";
  width: 20%;

  &--large {
    font-size: 36px;
  }
  &--small {
    font-size: 18px;
  }
}

.c-chordunit__note {
  width: 60%;
  display: flex;
  position: relative;
}

.c-chordunit__note-name {
  font-family: sans-serif;

  &--large {
    font-size: 36px;
  }
  &--small {
    font-size: 18px;
  }
}
.c-chordunit__half-note {
  // height: 50px;
  font-family: "score-base";

  &--large {
    font-size: 36px;
  }
  &--small {
    font-size: 18px;
  }
}
.c-chordunit__modifier {
  font-family: sans-serif;
  vertical-align: bottom;

  &--large {
    position: absolute;
    left: 30px;
    bottom: 2px;
    font-size: 18px;
  }
  &--small {
    position: absolute;
    left: 15px;
    bottom: 2px;
    font-size: 9px;
  }
}

.c-chordunit__rightbar {
  font-family: "score-base";
  text-align: right;
  width: 20%;

  &--large {
    font-size: 36px;
  }
  &--small {
    font-size: 18px;
  }
}

@media screen and (min-width: 481px) {
  .c-chordunit__modifier {
    &--large {
      left: 30px;
    }
  }
}
