.c-chord-edit__wrapper {
  width: 100%;
  height: 210px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 10px 30px;
}

.c-chord-edit__editor {
  width: 100%;
  color: $color-font-white;
}

.c-chord-edit__sub {
  padding: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-chord-edit__text-window {
  height: 1.8em;
  width: 85%;
  padding: 2px 7px;
  font-size: 16px;

  border: lightgray 1px solid;
}

.c-chord-edit__main {
  display: flex;
  flex-wrap: wrap;
  touch-action: manipulation;
}

.c-chord-edit__btn {
  // layout
  margin: 7px;
  border: 1px solid lightgray;
  height: 33px;
  width: calc(14% - 14px);
  display: flex;
  justify-content: center;
  align-items: center;

  // design
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  color: $color-font-white;
  touch-action: manipulation;
  cursor: pointer;
  &:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.c-chord-edit__size-shift {
  width: calc(28% - 14px);
  display: flex;
}

.c-chord-edit__blank {
  margin: 2px;
  border: dashed 1px $color-font-gray;
  height: 20px;
  width: 15px;
  position: relative;
  top: -2px;
}
.c-chord-edit__part {
  border: solid $color-font-white 1px;

  text-align: center;
  border-radius: 2px;
  display: inline-block;

  &--sizeABC {
    width: 18px;
  }
  &--size_large {
    padding: 0 2px;
  }
}

.c-chord-edit__repeat {
  padding-left: 4px;
  margin: 0 2px 4px 0;
  border: solid $color-font-white;
  border-width: 1px 0 0 1px;
}

.c-chord-edit__close {
  font-size: 24px;
  margin-right: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}

.c-chord-edit__js-part {
  margin: 0 5px 3px 0;
  padding: 0 4px;
  display: inline-block;
  border-radius: 2px;
  border: solid $color-font-black 1px;
}

.c-chord-edit__js-repeat {
  padding-left: 4px;
  margin: 0 2px 4px 0;
  border: solid $color-font-black;
  border-width: 1px 0px 0px 1px;
}
