@font-face {
  font-family: "score-base";
  src: font-url("Musisync_custom.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "score-repeat";
  src: font-url("Dvmarticulations-Yqpy_custom.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "title";
  src: font-url("title2_GuitarAcoustic-njzR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// adjust font size like 14px
.c-font__size-base {
  font-size: 2em;
}
.c-font__size-half {
  padding-top: 16px;
}

.c-font__base {
  font-family: "score-base";
}

.c-font__repeat {
  font-family: "score-repeat";
}
