.c-review__btn {
  height: 30px;
  width: 125px;
  padding: 6px;

  display: flex;
  align-items: center;

  background-color: $color-btn-normal;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

.c-review__icon-practice {
  font-size: 20px;
}

.c-review__amount {
  margin: 5px;
}
