@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/reset";
@import "modules/chords";
@import "modules/contacts";
@import "modules/pdfs";
@import "modules/songs";
@import "modules/font_read";

.wrapper {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 90px;
  width: 100vw;
  padding: 0 30px;
  background-color: lightblue;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.header__logo {
  text-decoration: none;
  color: white;
  font-family: "title";
  font-size: 64px;
}

.header__menu {
  margin-left: 10px;
}

.menu--search-icon {
  cursor: pointer;
}

.menu--bars-icon {
  cursor: pointer;
}

.content__search-window {
}

.search-float {
  position: fixed;
  top: 80px;
  left: 20%;
  width: 60%;
  z-index: 1;
}

.search-float input[type="text"] {
  border-radius: 20px;
  width: 70%;
}

.search-float input[type="submit"] {
  border-radius: 20px;
  width: 20%;
}

.wrapper__contents {
  padding: 90px 20px 30px;
  box-sizing: border-box;
}

.footer {
  height: 60px;
  width: 100vw;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

// general css

.chord-menu__key {
  position: relative;
  z-index: 3;

  &--palettes {
    border: 1px solid lightgray;
    background-color: white;
    height: 250px;
    width: 200px;
    position: absolute;
    top: 50px;
  }
}

.key__key-display {
  &--now {
    background-color: yellow;
    height: 40px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--relative-key {
    display: none;
    background-color: pink;
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
  }
}

.palettes__section {
  display: flex;
  width: 100%;
}

.palettes__palette {
  border: 1px solid lightgray;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;

  &--one {
    width: 100%;
  }
  &--three {
    width: 33%;
  }
  &--four {
    width: calc(100% / 4 - 3px * 2);
  }
}

// オーバーレイ
.clear_overlay {
  height: 120%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

// 非表示
.hidden {
  display: none;
}
