.c-chord-edit__wrapper.c-chord-edit__wrapper--1st.c-window__clear-black.u-display__hidden
  .c-chord-edit__editor
    .c-chord-edit__sub
      .c-chord-edit__text-window
      .c-chord-edit__close ×
    .c-chord-edit__main
      .c-chord-edit__btn
        .c-chord-edit__input G
      .c-chord-edit__btn
        .c-chord-edit__input A
      .c-chord-edit__btn
        .c-chord-edit__input B
      .c-chord-edit__btn
        .c-chord-edit__input C
      .c-chord-edit__btn
        .c-chord-edit__input D
      .c-chord-edit__btn
        .c-chord-edit__input E
      .c-chord-edit__btn
        .c-chord-edit__input F
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base.c-font__size-base.c-font__size-half.c-js__chord-editor-duplication B
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base.c-font__size-base.c-font__size-half b
      .c-chord-edit__btn
        .c-chord-edit__input m
      .c-chord-edit__btn
        .c-chord-edit__input 7th
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__repeat ‘
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base '
        .c-chord-edit__blank
      .c-chord-edit__btn
        .c-chord-edit__blank
        .c-chord-edit__input.c-font__base.c-js__chord-editor-duplication '
      .c-chord-edit__btn
        %i.far.fa-caret-square-up.c-chord-edit__icon
        .c-chord-edit__input.u-display__hidden Shift
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base {
        .c-chord-edit__blank
      .c-chord-edit__btn
        .c-chord-edit__blank
        .c-chord-edit__input.c-font__base }
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base [
        .c-chord-edit__blank
      .c-chord-edit__btn
        .c-chord-edit__blank
        .c-chord-edit__input.c-font__base ]
      .c-chord-edit__btn
        %i.fas.fa-arrow-circle-right
        .c-chord-edit__input.u-display__hidden next
      .c-chord-edit__btn
        .c-chord-edit__input.u-display__hidden BS
        %i.fas.fa-backspace
.c-chord-edit__wrapper.c-chord-edit__wrapper--2nd.c-window__clear-black.u-display__hidden
  .c-chord-edit__editor
    .c-chord-edit__sub
      .c-chord-edit__text-window
      .c-chord-edit__close ×
    .c-chord-edit__main
      .c-chord-edit__btn
        .c-chord-edit__input.c-chord-edit__part.c-chord-edit__part.c-chord-edit__part--size_large In
      .c-chord-edit__btn
        .c-chord-edit__part.c-chord-edit__part--sizeABC A
        .c-chord-edit__input.u-display__hidden partA
      .c-chord-edit__btn
        .c-chord-edit__part.c-chord-edit__part--sizeABC B
        .c-chord-edit__input.u-display__hidden partB
      .c-chord-edit__btn
        .c-chord-edit__part.c-chord-edit__part--sizeABC C
        .c-chord-edit__input.u-display__hidden partC
      .c-chord-edit__btn.c-chord-edit__size-shift
        .c-chord-edit__input.c-chord-edit__part.c-chord-edit__part--size_large  Chorus
      .c-chord-edit__btn
        .c-chord-edit__input.c-chord-edit__part.c-chord-edit__part--size_large End
      .c-chord-edit__btn.c-chord-edit__size-shift
        .c-chord-edit__input.c-chord-edit__part.c-chord-edit__part--size_large Solo
      .c-chord-edit__btn.c-chord-edit__size-shift
        .c-chord-edit__input break
      .c-chord-edit__btn
        .c-chord-edit__repeat 1.
        .c-chord-edit__input.u-display__hidden repeat
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base "
        .c-chord-edit__blank
      .c-chord-edit__btn
        .c-chord-edit__blank
        .c-chord-edit__input.c-font__base.c-js__chord-editor-duplication  "
      .c-chord-edit__btn
        %i.far.fa-caret-square-up
        .c-chord-edit__input.u-display__hidden Shift
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base.c-font__size-base @
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base.c-font__size-base $
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base.c-font__size-base #
      .c-chord-edit__btn
        .c-chord-edit__input.c-font__base.c-font__size-base P
      .c-chord-edit__btn
        %i.fas.fa-arrow-circle-right
        .c-chord-edit__input.u-display__hidden next
      .c-chord-edit__btn
        .c-chord-edit__input.u-display__hidden BS
        %i.fas.fa-backspace
