.c-chord-edit__wrapper.c-window__clear-black.u-display__hidden
  .c-chord-edit__editor
    .c-chord-edit__sub
      .c-chord-edit__text-window
      .c-chord-edit__close
        ×
    .c-chord-edit__main
      .c-chord-edit__btn G
      .c-chord-edit__btn A
      .c-chord-edit__btn B
      .c-chord-edit__btn C
      .c-chord-edit__btn D
      .c-chord-edit__btn E
      .c-chord-edit__btn F
      .c-chord-edit__btn.c-font__base.c-font__size-base.c-font__size-half.c-js__chord-editor-duplication B
      .c-chord-edit__btn.c-font__base.c-font__size-base.c-font__size-half b
      .c-chord-edit__btn m
      .c-chord-edit__btn 7th
      .c-chord-edit__btn.c-font__base {
      .c-chord-edit__btn.c-font__base }
      .c-chord-edit__btn.c-font__base ' 
      .c-chord-edit__btn.c-font__base.c-js__chord-editor-duplication  '
      .c-chord-edit__btn.c-font__base.c-font__size-base @
      .c-chord-edit__btn.c-font__base.c-font__size-base $
      .c-chord-edit__btn.c-font__base.c-font__size-base #
      .c-chord-edit__btn.c-font__repeat ‘
      .c-chord-edit__btn.c-chord-edit__size-backspace BackSpace
