#chord-menu.c-key-change__editor.c-window__clear-black.u-display__hidden
  .c-key-change__layout
    .c-key-change__main
      .c-key-change__btn.c-key-change__btn--note G
      .c-key-change__btn.c-key-change__btn--note A
      .c-key-change__btn.c-key-change__btn--note B
      .c-key-change__btn.c-key-change__btn--note C
      .c-key-change__btn.c-key-change__btn--note D
      .c-key-change__btn.c-key-change__btn--note E
      .c-key-change__btn.c-key-change__btn--note F
      .c-key-change__btn.c-key-change__btn--modifier m
      .c-key-change__btn.c-key-change__btn--half.c-font__base.c-font__size-half B
      .c-key-change__btn.c-key-change__btn--half.c-font__base.c-font__size-half b
    .c-key-change__close ×
