.p-navi__wrapper
  .p-navi__menu
    - if user_signed_in?
      .p-navi__content.c-js__menu__fade-in
        .p-navi__content__parent.p-navi__btn-pulldown
          .p-navi__link-btn--parent
            .p-navi__icon-box
              %i.fas.fa-user
            %span.p-navi__string__parent
              =link_to "マイページ", user_path(current_user.id)
      .p-navi__content.c-js__menu__fade-in
        .p-navi__content__parent.p-navi__btn-pulldown
          .p-navi__link-btn--parent
            .p-navi__icon-box
              %i.fas.fa-drafting-compass
            %span.p-navi__string__parent データ作成
          .p-navi__icon-box.p-navi__icon-box
            %i.fas.fa-chevron-down
        .ul.p-navi__menu-pulldown
          .li.p-navi__content__child
            %span.p-navi__font__child
              =link_to "楽曲の登録", new_song_path
          .li.p-navi__content__child
            %span.p-navi__font__child
              =link_to "コード譜", new_chord_path
    - else
      .p-navi__content.c-js__menu__fade-in
        .p-navi__content__parent.p-navi__btn-pulldown
          .p-navi__link-btn--parent
            .p-navi__icon-box
              %i.fas.fa-sign-in-alt
            %span.p-navi__string__parent
              =link_to "ログイン", new_user_session_path
      .p-navi__content.c-js__menu__fade-in
        .p-navi__content__parent.p-navi__btn-pulldown
          .p-navi__link-btn--parent
            .p-navi__icon-box
              %i.fas.fa-user-plus
            %span.p-navi__string__parent
              =link_to "ユーザ登録", new_user_registration_path
    -# .p-navi__content.c-js__menu__fade-in
    -#   .p-navi__content__parent
    -#     .p-navi__link-btn--parent
    -#       .p-navi__icon-box
    -#         %i.far.fa-file-pdf
    -#       %span.p-navi__string__parent コード表 作成
    .p-navi__content.c-js__menu__fade-in
      .p-navi__content__parent.p-navi__btn-pulldown
        .p-navi__link-btn--parent
          .p-navi__icon-box
            %i.far.fa-address-book
          %span.p-navi__string__parent
            =link_to "ユーザ検索", search_users_path
    - if user_signed_in?
      .p-navi__content.c-js__menu__fade-in
        .p-navi__content__parent
          .p-navi__link-btn--parent
            .p-navi__icon-box
              %i.fas.fa-sign-out-alt
            %span.p-navi__string__parent
              =link_to "ログアウト", destroy_user_session_path, method: :delete

  .c-layer__black
    .c-layer__black-sub
