.p-navi__wrapper
  .p-navi__menu
    .p-navi__content.c-js__menu__fade-in
      .p-navi__content__parent.p-navi__btn-pulldown
        .p-navi__link-btn--parent
          .p-navi__icon-box
            %i.fas.fa-drafting-compass
          %span.p-navi__string__parent データ作成
        .p-navi__icon-box.p-navi__icon-box
          %i.fas.fa-chevron-down
      .ul.p-navi__menu-pulldown
        .li.p-navi__content__child
          %span.p-navi__font__child
            =link_to "楽曲の登録", new_song_path
        .li.p-navi__content__child
          %span.p-navi__font__child
            =link_to "コード譜", new_chord_path
    .p-navi__content.c-js__menu__fade-in
      .p-navi__content__parent
        .p-navi__link-btn--parent
          .p-navi__icon-box
            %i.far.fa-file-pdf
          %span.p-navi__string__parent コード表 作成
    .p-navi__content.c-js__menu__fade-in
      .p-navi__content__parent
        .p-navi__link-btn--parent
          .p-navi__icon-box
            %i.fas.fa-sign-out-alt
          %span.p-navi__string__parent ログアウト
  .c-layer__black
    .c-layer__black-sub
