%section.c-search.p-global-search__wrapper.c-window__skeleton
  %article.p-global-search
    =form_with  url: search_songs_path, method: :get, local: true do |f|
      =render "/application/search", f: f
  .c-layer__black
    .c-layer__black-sub