%script{src: "https://www.google.com/recaptcha/api.js?render=6LdDibUZAAAAAB3YKCwEDjWuSwzOM86evQRvjWah"}
- @user.errors.full_messages.each do |msg|
  %p.l-header__notice
    =msg
%aside.l-contents__top.l-contents__top--low-volume.l-contents__top--sub
%article.c-user__position-article
  %section.c-section__sentence-box
    .c-user__logo
      %h2 Sign up
      %a - ユーザ登録 -
    .c-user__form
      =form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f|
        .c-form__area
          =f.text_field :name, placeholder:"名前", class:"c-form__textbox c-user__textbox"
          =f.collection_select :place_id, Place.all.where.not(id: 0), :id, :name,  {include_blank: "主な活動拠点を選ぶ", selected: ""},  class: "c-form__selectbox c-user__selectbox"
          =f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メール", class:"c-form__textbox c-user__textbox"
          =f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class:"c-form__textbox c-user__textbox"
          =f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認)", class:"c-form__textbox c-user__textbox"
          =f.hidden_field :token, class: "c-js__recaptcha-token"
        .c-form__area
          =f.submit "登録", class:"c-form__btn c-form__btn--login c-js__recaptcha"
    %figure
      =image_tag "/images/fiddle.png", class: "c-section__image-fiddle"
  - breadcrumb :sign_up
  = render "application/breadcrumbs", layout: "footer"
