%aside.l-contents__top.l-contents__top--low-volume.l-contents__top--sub
%article.c-user__position-article
  %section.c-section__sentence-box
    .c-user__logo
      %h2 Sign up
      %a - ユーザ登録 -
    .c-user__form
      =form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post })  do |f|
        =render "application/user-form", f: f
    %figure
      =image_tag "/images/fiddle.png", class: "c-section__image-fiddle"
