%aside.l-contents__top.l-contents__top--low-volume.l-contents__top--sub
%article.c-user__position-article
  %section.c-section__sentence-box
    .c-user__logo
      %h2 Sign up
      %a - ユーザ登録 -
    .c-user__form
      =form_with local: true do |f|
        .c-form__area
          =f.text_field :name, placeholder:"name", class:"c-form__textbox c-user__textbox"
          =f.email_field :email, placeholder: "email", class:"c-form__textbox c-user__textbox"
          %a (#{@minimum_password_length} characters minimum)
          =f.password_field :password, placeholder: "password", class:"c-form__textbox c-user__textbox"
          =f.password_field :password_confirmation, placeholder: "password(確認)", class:"c-form__textbox c-user__textbox"
        .c-form__area
          =f.submit "登録", class:"c-form__btn c-form__btn--login"
    %figure
      =image_tag "/images/fiddle.png", class: "c-section__image-fiddle"
